<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="myCtrl">
    外面的<input type="text" ng-model="name">
    <hello name="name"></hello>
</div>
<script src="./node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('myCtrl',['$scope',function ($scope) {
        $scope.name = 123;
    }]);
    app.directive('hello',function () {
        return {
            template:'<div>里面的<input type="text" ng-model="name"></div>',
            scope:{
                //已经完全断绝关系，需要通过属性进行传递数据，将动态数据绑定
                //name:'@name'  //scope.name = 456 引用的title属性的 字符串 如果名字相同可省略
                name:'=name'
            }
        }
    });
</script>
</body>
</html>